@page
@model EditModel
@section Styles {
<partial name="_DataTableStyles" />
}
@{
    ViewData["Title"] = Localizer["Edit User"];
    ViewData["ActiveMainPage"] = "Users";
    ViewData["Level1"] = "Admin";
}
<form id="user-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input type="hidden" asp-for="@Model.UserModel!.Id" name="Id" />
    <div id="PartialLoaderContainer">
        <partial name="_InputFieldsPartial" model="Model.UserModel" />
    </div>
    <div id="toolbar-container" class="btn-group" role="group">
        <a asp-page="Index" id="btnCancelConfirmationModal" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        <button type="button" id="btnConfirmationModal" class="btn btn-success text-light" title="@Localizer["Save changes"]"><i class="fas fa-save"></i></button>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_DataTableScripts" />
    <script asp-add-nonce>
        $(document).ready(function () {
			$.bindSaveConfirmationModal('Save', '#btnConfirmationModal', '#user-form');
			$.bindCancelConfirmationModal('Cancel', '#btnCancelConfirmationModal', '#user-form', 'Do you want to cancel the changes?');
            function InitializeForm() {
                var roles = $("#roles").DataTable({
                    select: false,
                    searching: true,
                    paging: true,
					dom: '@Html.Raw(OracleCMS.CarStocks.Web.WebConstants.DataTableDOMLayOut)',
                    info: true,
                    buttons: [],
                    columnDefs: [
                        {
                            targets: [1],
                            orderDataType: 'dom-checkbox',
                        }
                    ]
                });
                $('#user-form').onSubmitIncludeAllFieldsFromTable(roles);
                $('.DisableSelectDropdown').on('mousedown', function (e) {
                    e.preventDefault();
                    this.blur();
                    window.focus();
                });

            }
            InitializeForm();
        });

    </script>
}