@using Models
@model EntityViewModel


<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1 row-cols-xxl-1">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="col">
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label fieldrequired"><strong>Name :</strong></label>
            <input asp-for="@Model.Name" class="form-control" maxlength="255" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
    </div>
</div>



