@page
@model AddModel
@{
    ViewData["Title"] = Localizer["Add Entity"];
    ViewData["ActiveMainPage"] = "Entities";
    ViewData["Level1"] = "Admin";
}
<form id="entity-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <h5 class="card-header"><span class="card-header-custom">@Localizer["Entity Info"]</span><br></h5>
        <div class="card-body">
            <partial name="_EditEntityDetails" model="Model.Entity" />
        </div>
    </div>
    <div id="toolbar-container" class="btn-group" role="group">
        <a asp-page="Index" id="btnCancelConfirmationModal" class="btn btn-secondary" title="@Localizer["Cancel"]"><i class="fas fa-ban"></i></a>
        <button type="button" id="btnConfirmationModal" class="btn btn-success text-light" title="@Localizer["Save changes"]"><i class="fas fa-save"></i></button>
    </div>
</form>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script asp-add-nonce>
        $(document).ready(function () {
            $.bindSaveConfirmationModal('Save', '#btnConfirmationModal', '#entity-form');
            $.bindCancelConfirmationModal('Cancel', '#btnCancelConfirmationModal', '#entity-form', 'Do you want to cancel the changes?');           
        });
    </script>
}