@using Models
@model ApproverSetupViewModel

<div class="card">
	<h5 class="card-header"><span class="card-header-custom">@Localizer["Approver Setup Info"]</span><br></h5>
	<div class="card-body overflow-x-scroll" >
		<input type="hidden" asp-for="@Model.Id" name="Id" />
		<input type="hidden" asp-for="@Model.ApprovalSetupType" name="ApprovalSetupType" value="@OracleCMS.CarStocks.Core.CarStocks.ApprovalSetupTypes.Modular"/>
		<div class="row">
			<partial name="_EditApproverSetupDetails" model="Model" />
		</div>	
	</div>
</div>
<br />
<partial name="_ApproverAssignmentList" model="Model" />
