@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
    var privacyPolicyUrl = Configuration.GetValue<string>("PrivacyPolicyUrl");
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-warning alert-dismissible fade show" role="alert">
        By continuing to use this website, you consent to the use of cookies in accordance with our <a href="@privacyPolicyUrl" target="_blank">Privacy and Cookie Use Policy.</a>
        <button type="button" class="accept-policy close btn btn-primary" data-bs-dismiss="alert" aria-label="@Localizer["Accept and Close"]" data-cookie-string="@cookieString">
            <span aria-hidden="true">@Localizer["Accept and Close"]</span>
        </button>
    </div>
    <script asp-add-nonce>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}