@using Models
@model IList<PermissionViewModel>
<table id="permissions" class="table table-hover table-bordered table-striped fills-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Permission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Enabled)
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @Model[i].Permission
                </td>
                <td>
                    <div class="form-check m-1">
                        @if (Model[i].Enabled)
                        {
                            <input type="checkbox" name="[@(i)].Enabled" class="form-check-input" value=true checked />
                        }
                        else
                        {
                            <input type="checkbox" name="[@(i)].Enabled" class="form-check-input" value=true />
                        }
                        <input type="hidden" asp-for="@Model[i].Permission" />
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>