@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
    Layout = "_Layout";
    var appName = Configuration.GetValue<string>("Application");
}
<div class="card shadow-lg o-hidden border-0 my-5">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-flex">
                <div class="flex-grow-1 bg-login-image"></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <div class="text-center">
                        <h4 class="text-dark mb-4">@appName</h4>
                    </div>
                    @if (string.Compare(Configuration["Authentication:EmailLoginEnabled"], "true", true) == 0)
					{
						<form id="account" method="post" class="user">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="mb-3">
								<input asp-for="Input!.Email" class="form-control form-control-user" placeholder="Enter Email Address...">
								<small><span asp-validation-for="Input!.Email" class="text-danger"></span></small>
							</div>
							<div class="mb-3">
								<input asp-for="Input!.Password" class="form-control form-control-user" placeholder="Password">
								<small><span asp-validation-for="Input!.Password" class="text-danger"></span></small>
							</div>
							<div class="mb-3">
								<div class="custom-control custom-checkbox small">
									<div class="form-check">
										<input asp-for="Input!.RememberMe" class="form-check-input custom-control-input">
										<label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label>
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-primary d-block btn-user w-100">Login</button>
						</form>
						<hr>
					}
                    @if (!string.IsNullOrEmpty(Configuration["Authentication:Microsoft:ClientId"]))
                    {
                        <form id="microsoft-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal text-center">
                            <input type="hidden" name="provider" value="Microsoft">
                            <input class="mb-2" type="image" id="BtnLoginMicrosoft" src="~/img/ms_signin_dark.png" alt="Sign in using Microsoft">
                        </form>
                    }
                    @if (!string.IsNullOrEmpty(Configuration["Authentication:Google:ClientId"]))
                    {
                        <form id="google-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal text-center">
                            <input type="hidden" name="provider" value="Google">
                            <input class="mb-2" type="image" id="BtnLoginGoogle" src="~/img/google_signin_dark.png" alt="Sign in using Google">
                        </form>
                    }
                    @if (string.Compare(Configuration["Authentication:EmailLoginEnabled"], "true", true) == 0)
					{
						<hr>
						<div class="text-center">
							<a class="small" asp-page="./ForgotPassword">Forgot Password?</a>
						</div>
						<div class="text-center">
							<a class="small" asp-page="./Register">Create an Account!</a>
						</div>
					}
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

